@using Atomic.StarterKit.API
@model Contact
@{
	if (Model == null) return;
}

<section class="contact-section">
	<div class="container">
		<div class="row">
			@if (!string.IsNullOrWhiteSpace(Model.EmbededGoogleMap))
			{
				<div class="col">@Html.Raw(Model.EmbededGoogleMap)</div>
			}
			<div class="col-md-6 col-xl-4">
				<div class="p-3 p-xl-4 contact-section__contact-form">
					@using (Html.BeginUmbracoForm<ContactFormController>(nameof(ContactFormController.Submit), null, new { @id = "contactForm" }, FormMethod.Post, antiforgery: true))
					{
						<h4>@Model.FromPreTitle</h4>
						<p class="text-muted">@Model.FormTitle</p>
						<div class="mb-4 contact-section__contact-form__group">
							<label class="form-label contact-section__contact-form__group__label" for="@nameof(ContactFormViewModel.Name)">Name</label>
							<input class="form-control contact-section__contact-form__group__form-control" type="text" id="field_4bs9q" name="@nameof(ContactFormViewModel.Name)" value="" placeholder="John Doe" />
						</div>
						<div class="mb-4 contact-section__contact-form__group">
							<label class="form-label contact-section__contact-form__group__label" for="@nameof(ContactFormViewModel.Email)">Email</label>
							<input class="form-control contact-section__contact-form__group__form-control" type="email" id="field_1ghyp" name="@nameof(ContactFormViewModel.Email)" value="" placeholder="example@mail.com" />
						</div>
						<div class="mb-4 contact-section__contact-form__group">
							<label class="form-label contact-section__contact-form__group__label" for="@nameof(ContactFormViewModel.Message)">Message</label>
							<textarea class="form-control contact-section__contact-form__group__form-control" name="@nameof(ContactFormViewModel.Message)" id="field_jy2v2" rows="5" placeholder="@nameof(ContactFormViewModel.Message)" rows="6"></textarea>
							<span class="error-massage">Please fill in the required fields</span>
						</div>
						@if (Model.LinkToTermsAndConditionsPage != null && Model.LinkToTermsAndConditionsPage.Any())
						{
							<div class="d-flex justify-content-center align-items-center flex-nowrap mb-3 contact-section__contact-form__group">
								<div class="form-check contact-section__contact-form__form-check">
									<input class="form-check-input  contact-section__contact-form__form-check__input" type="checkbox" id="data-acceptance">
									<label class="form-check-label" for="data-acceptance">@Model.AcceptanceText &nbsp;<a href="@Model.LinkToTermsAndConditionsPage.FirstOrDefault()!.Url">@Model.LinkToTermsAndConditionsPage.FirstOrDefault()!.Name</a></label>
									<span class="error-massage">Please fill in the required fields</span>
								</div>
							</div>
						}
						<div class="mb-3 text-center"><button class="btn" type="submit">Send</button></div>
					}
				</div>
			</div>
		</div>
	</div>
</section>