@model Umbraco.Cms.Core.Models.Blocks.BlockListItem<DoubleImage>
@{
    if (Model == null) return;
}

<section class="bg-light double-image">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-md-6 mb-lg-0 double-image__left">
                <div class="single-image single-image-5 text-white rounded">
                    @if (Model.Content.LeftImageSource != null)
                    {
                        <img src="@Model.Content.LeftImageSource.Url()" alt="@Model.Content.LeftImageSource.Name">
                    }
                    <div class="single-image-overlay"></div>
                    <div class="single-image-5-content">
                        <h2 class="text-uppercase single-image-5-title fw-light mb-0">@Model.Content.LeftImageCaption</h2>
                        <p class="single-image-5-description fw-light mb-0">@Model.Content.LeftImageDescription</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-lg-0  double-image__right">
                <div class="single-image single-image-5 text-white rounded">
                    @if (Model.Content.RightImageSource != null)
                    {
                        <img src="@Model.Content.RightImageSource.Url()" alt="@Model.Content.RightImageSource.Name">
                    }
                    <div class="single-image-overlay"></div>
                    <div class="single-image-5-content">
                        <h2 class="text-uppercase single-image-5-title fw-light mb-0">@Model.Content.RightImageCaption</h2>
                        <p class="single-image-5-description fw-light mb-0">@Model.Content.RightImageDescription</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>