@model Umbraco.Cms.Core.Models.Blocks.BlockListItem<Services>
@{
	if (Model == null) return;
}

<section class="services-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				@if (!string.IsNullOrWhiteSpace(Model.Content.PreTitle))
				{
					<h2 class="text-uppercase section-heading">@Model.Content.PreTitle</h2>
				}
				@if (!string.IsNullOrWhiteSpace(Model.Content.Title))
				{
					<h3 class="text-muted section-subheading">@Model.Content.Title</h3>
				}
			</div>
		</div>
		<div class="row text-center services-section__content">
			@if (Model.Content.ServicesItems != null && Model.Content.ServicesItems.Any())
			{
				foreach (var item in Model.Content.ServicesItems)
				{
					var currentItem = item.Content as ServiceItem;
					if (currentItem != null)
					{
						<div class="col-md-4 d-flex flex-column justify-content-evenly align-items-center">
							@if (currentItem.Image != null)
							{
								<img class="services-section__content__image" src="@currentItem.Image.Url()" alt="@currentItem.Image.Name" />
							}
							@if (!string.IsNullOrWhiteSpace(currentItem.Title))
							{
								<h4 class="section-heading">@currentItem.Title</h4>
							}
							@if (!string.IsNullOrWhiteSpace(currentItem.Description))
							{
								<p class="text-muted">@currentItem.Description</p>
							}
						</div>
					}
				}
			}
		</div>
	</div>
</section>