@model Error
@{ if (Model == null) return; }

<div>
    Atomic.Skeleton.Error

    <h1>@Model.ErrorCode</h1>
    <p>@Model.ErrorMessage</p>

    @if (@Model.RedirectPage != null && @Model.RedirectPage.Any())
    {
        <a href="@Model.RedirectPage.First().Url">@Model.RedirectPage.First().Name</a>
    }

</div>