@using AtomicStarterKit.API
@model Contact
@{
	if (Model == null) return;
}

<section class="contact-section">
	<div class="container">
		<div class="row">
			@if(!string.IsNullOrWhiteSpace(Model.EmbededGoogleMap))
			{
				<div class="col">@Html.Raw(Model.EmbededGoogleMap)</div>
			}
			<div class="col-md-6 col-xl-4">
				<div class="p-3 p-xl-4">
					@using (Html.BeginUmbracoForm<ContactFormController>(nameof(ContactFormController.Submit), FormMethod.Post, antiforgery:true))
					{
						<h4>@Model.FromPreTitle</h4>
						<p class="text-muted">@Model.FormTitle</p>
						<div class="mb-3">
							<label class="form-label" for="@nameof(ContactFormViewModel.Name)">Name</label>
							<input class="form-control" type="text" id="field_4bs9q" name="@nameof(ContactFormViewModel.Name)" value="" placeholder="John Doe" />
						</div>
						<div class="mb-3">
							<label class="form-label" for="@nameof(ContactFormViewModel.Email)">Email</label>
							<input class="form-control" type="email" id="field_1ghyp" name="@nameof(ContactFormViewModel.Email)" value="" placeholder="example@mail.com" />
						</div>
						<div class="mb-3">
							<label class="form-label" for="@nameof(ContactFormViewModel.Message)">Message</label>
							<textarea class="form-control" name="@nameof(ContactFormViewModel.Message)" id="field_jy2v2" rows="5" placeholder="@nameof(ContactFormViewModel.Message)" rows="6" required></textarea>
							<span asp-validation-for="@nameof(ContactFormViewModel.Message)" class="text-danger"></span>
						</div>
						@if (Model.LinkToTermsAndConditionsPage != null && Model.LinkToTermsAndConditionsPage.Any())
						{
							<div class="d-flex justify-content-center align-items-center flex-nowrap mb-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="formCheck-1">
									<label class="form-check-label" for="formCheck-1">@Model.AcceptanceText &nbsp;<a href="@Model.LinkToTermsAndConditionsPage.FirstOrDefault()!.Url">@Model.LinkToTermsAndConditionsPage.FirstOrDefault()!.Name</a></label>
								</div>
							</div>
						}
						<div class="mb-3 text-center"><button class="btn" type="submit">Send</button></div>
							
					}
				</div>
			</div>
		</div>
	</div>
</section>