@model PortfolioDetails
@{
	if (Model == null) return;
}

<section class="bg-light" id="portfolio-single-details">
    <div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				@if (!string.IsNullOrWhiteSpace(Model.PreTitle))
				{
					<h2 class="text-uppercase section-heading">@Model.PreTitle</h2>
				}
				@if (!string.IsNullOrWhiteSpace(Model.Title))
				{
					<h3 class="text-muted section-subheading">@Model.Title</h3>
				}
			</div>
		</div>
        <div class="row d-flex flex-row align-items-center">
            <div class="col-md-8">
				@if (Model.MainImage != null)
				{
					<img class="img-fluid" src="@Model.MainImage.GetCropUrl(750,500)" alt="image" loading="lazy">
				}
			
			</div>
            <div class="col-md-4">
				@if (Model.Description != null)
				{
					@Html.Raw(Model.Description)
				}
            </div>
        </div>
		@if (Model.RelatedImages != null && Model.RelatedImages.Any())
		{
			<h3 class="my-4 text-uppercase section-heading">Related Images</h3>
			<div class="row">
				@foreach (var item in Model.RelatedImages)
				{
					<div class="col-sm-6 col-md-3 mb-4"><img class="img-fluid" src="@item.GetCropUrl(500,300)" alt="Image" loading="lazy"></div>
				}
			</div>
		}
        
    </div>
</section>


