@model Hero
@{
	if (Model == null) return;
}

<header class="masthead" style="@(Model.BackgroundImage != null ? $"background: url('{Model.BackgroundImage.Url()}') center / cover no-repeat;" : "background-color: transparent;")">
	<div class="container">
		<div class="intro-text">
			@if (!string.IsNullOrWhiteSpace(Model.PreTitle))
			{
				<div class="intro-lead-in"><span>@Model.PreTitle</span></div>
			}
			@if (!string.IsNullOrWhiteSpace(Model.Title))
			{
				<div class="intro-heading text-uppercase">
					<span>@Model.Title</span>
				</div>
			}
			@if (Model.ButtonLink != null && Model.ButtonLink.Any())
			{
				<a class="btn btn-primary btn-xl text-uppercase" role="button" href="@Model.ButtonLink.FirstOrDefault()!.Url" style="transition: 0.3s;background-color: rgba(0,0,0,0.6);">@Model.ButtonLink.FirstOrDefault()!.Name</a>
			}			
		</div>
	</div>
</header>